
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

.dark {
  background-color: $dark-main;
}


ul{
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

.container {
  width: 100%;
  padding: 0 12px;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

::placeholder {
  color: rgb(161,164,168);
}

.story {
  border: 3px solid $main-color;
  border-radius: 50%;
}

