$header-height: 56px;
$header-mobile-height: 42px;

$dark-main: #18191A;
$dark-second: #242526;
$dark-third: #3A3B3C;
$dark-four: rgb(161,164,168);
$dark-txt: #D7D9DE;

$main-color: #3475E1;
$notify-color: #E73553;


